@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Moul&display=swap";
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #003399;
  border-radius: 10px;
}
* {
  font-family: Poppins, sans-serif, Hanuman, serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.navbar {
  background-color: #039;
  overflow: hidden;
}
.navbar .container .logo-media {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .container .logo-media .logo img {
  width: 85px;
  height: auto;
  -o-object-fit: fill;
  object-fit: fill;
}
.navbar .container .logo-media .social-media {
  display: flex;
  align-items: center;
}
.navbar .container .logo-media .social-media .media-icon {
  display: flex;
  align-items: center;
}
.navbar .container .logo-media .social-media .media-icon-item {
  height: 30px;
  width: 30px;
  margin: 0 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #039;
  position: relative;
}
.navbar .container .logo-media .social-media .media-icon-item img {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navbar .container .logo-media .social-media .search {
  margin-left: 10px;
}
.navbar .container .logo-media .social-media .search form {
  background-color: #fff;
  border-radius: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  width: 250px;
}
.navbar .container .logo-media .social-media .search form input {
  border: none;
  background: transparent;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  width: 100%;
  outline: none;
}
.navbar .container .logo-media .social-media .search form button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #039;
  padding-right: 5px;
}
.navbar .container .logo-media .social-media .search form button i {
  font-size: 18px;
}
.navbar .container .logo-media .menu-icon {
  display: none;
}

.container {
  max-width: 70%;
  margin: auto;
}

.fa-solid {
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  font-weight: 900;
}

.fas {
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  font-weight: 900;
}

.far {
  font-family: "Font Awesome 6 Free";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}

.fa {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}

.fa-brands {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}

.fa-classic {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  font-family: "Font Awesome 6 Free";
}

.fa-regular {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}

.fa-sharp {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}

.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}

.fa-search:before {
  content: "\f002";
}

.menu-bar {
  background-color: #ce0a0a;
}
.menu-bar .container .menu {
  width: 100%;
  height: 60px;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}
.menu-bar .container .menu-item {
  font-family: Poppins, sans-serif, Moul, cursive;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  font-family: Poppins, sans-serif, Moul, cursive;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}
.menu-bar .container .menu-item:hover {
  color: #039;
  background-color: #fff;
  height: 100%;
}
.menu-bar .container .menu-item:hover .dropdown-menu {
  opacity: 1;
  display: block;
  visibility: visible;
  transform: translateY(0);
}
.menu-bar .container .menu-item .flex a {
  font-family: Poppins, sans-serif, Moul, cursive;
}
.menu-bar .container .menu-item .dropdown-menu {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 10;
  text-align: left;
  width: 250px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1019607843);
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease;
  right: 0px !important;
  left: unset !important;
}
.menu-bar .container .menu-item .dropdown-menu .menu-item {
  position: relative;
  transition: all 0.5s ease;
  color: #231f20;
  font-weight: 400;
  padding: 0;
  font-size: 14px;
}
.menu-bar .container .menu-item .dropdown-menu .menu-item:hover {
  color: #039;
  padding-left: 0.3rem;
}
.menu-bar .container .menu-item .dropdown-menu .menu-item a {
  font-family: Poppins, sans-serif, Moul, cursive;
  padding: unset;
  font-weight: 400;
}
.menu-bar .container .menu-item .dropdown-menu .menu-item.active {
  color: #039;
  padding-left: 0.3rem;
}
.menu-bar .container .menu-item.active {
  color: #039;
  background-color: #fff;
  height: 100%;
}

.items-center {
  align-items: center;
}

.flex {
  display: flex;
}

.aLink {
  text-decoration: none !important;
  color: unset;
  width: unset;
  height: unset;
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  color: unset;
  width: unset;
  height: unset;
  margin: 0;
  padding: 0;
}

.relative {
  position: relative;
}

.gap-4 {
  gap: 1rem !important;
}

.place-items-start {
  place-items: start;
}

.grid {
  display: grid;
}

@-webkit-keyframes mymove {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes mymove {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu-responsive.menu-active {
  right: -100%;
}

.menu-responsive-cover {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.44) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1019607843);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.menu-responsive {
  position: fixed;
  top: 0;
  z-index: 9999;
  right: 0;
  width: 80%;
  height: 100%;
  transition: 0.3s ease-in-out;
  overflow-y: auto;
  display: block;
}
.menu-responsive .header {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #039;
  position: relative;
}
.menu-responsive .header span {
  position: absolute;
  top: 8px;
  left: 14px;
}
.menu-responsive .header span i {
  font-size: 2rem;
  color: #fff;
}
.menu-responsive .header .logo a img {
  width: 85px;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}
.menu-responsive .menu-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f5f5f5;
}
.menu-responsive .menu-content .search form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
}
.menu-responsive .menu-content .search form input {
  border: none;
  background: transparent;
  padding: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  width: 100%;
  outline: none;
}
.menu-responsive .menu-content .search form button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #039;
  padding-right: 5px;
}
.menu-responsive .menu-content .menu {
  display: grid;
  grid-auto-flow: row;
  gap: 5px;
}
.menu-responsive .menu-content .menu-item.active {
  color: #ce0a0a;
}
.menu-responsive .menu-content .menu-item {
  font-family: Poppins, sans-serif, Moul, cursive;
  display: flex;
  gap: 8px;
  align-items: center;
  color: #000;
  margin-left: 1rem;
  border-bottom: 1px solid rgba(44, 96, 200, 0.2117647059);
  padding: 10px 0;
  border-bottom-style: dashed;
}

.menu-responsive-cover.menu-active {
  left: -100%;
}

.menu-bar.is_sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  -webkit-animation: mymove;
          animation: mymove;
  -webkit-animation-duration: 0.8s !important;
          animation-duration: 0.8s !important;
  box-shadow: 14px 14px 60px rgba(80, 20, 173, 0.0588235294);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
}

.fa-xmark:before {
  content: "\f00d";
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

video {
  max-width: 100%;
  height: auto;
}

/* .detail-content .page-content .share .py-2\.5 {
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
    }

    .detail-content .page-content .share .px-5 {

    } */
.detail {
  margin: 2rem 0;
}
.detail .view-date-wrapper .share .facebook {
  background-color: #4267b2 !important;
  color: #fff !important;
}
.detail .view-date-wrapper .share .telegram {
  background-color: #08c !important;
  color: #fff !important;
}
.detail .view-date-wrapper .share .twitter {
  background-color: #1da1f2 !important;
  color: #fff !important;
}

.section-aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-aside section {
  width: 68%;
  box-sizing: border-box;
}
.section-aside aside {
  width: 30%;
  height: 100%;
  box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
  align-items: flex-start;
}

.detail-content .page-content {
  background-color: #fff;
  padding: 1rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.0509803922) 0 6px 24px, rgba(0, 0, 0, 0.0784313725) 0 0 0 1px;
}
.detail-content .page-content h3 {
  font-size: 1.4rem;
  line-height: 35px;
}
.detail-content .page-content .items-center {
  align-items: center;
}
.detail-content .page-content .flex {
  display: flex;
}
.detail-content .page-content .textprimary {
  --tw-text-opacity: 1;
  color: rgb(0 51 153/var(--tw-text-opacity));
}
.detail-content .page-content .date {
  font-size: 12px;
}
.detail-content .page-content .date svg {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
.detail-content .page-content .share {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  margin-top: 1rem;
  place-items: flex-start;
  place-content: flex-start;
}
.detail-content .page-content .share a {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: 20px;
  font-size: 12px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.0509803922) 0 6px 24px, rgba(0, 0, 0, 0.0784313725) 0 0 0 1px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-bold {
  font-weight: 700;
}

.py-2\.5 {
  padding-top: 7px;
  padding-bottom: 7px;
}

.px5 {
  padding-left: 15px;
  padding-right: 15px;
}

.editor.font-text {
  font-size: 16px;
}

.section-aside.gap-6 {
  gap: 1.5rem;
}

.section-aside.grid {
  display: grid;
}

aside .welcome-content-banner {
  display: grid;
  gap: 1.3rem;
}
aside .welcome-content-banner-item {
  background-color: #fff;
  padding: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.0509803922) 0 6px 24px, rgba(0, 0, 0, 0.0784313725) 0 0 0 1px;
}
aside .welcome-content-banner-item .banner-label {
  border-bottom: 3px solid #003399;
  margin-bottom: 1rem;
  height: 39px;
  overflow: hidden;
}
aside .welcome-content-banner-item .banner-label .text-label {
  font-family: Poppins, sans-serif, Moul, cursive;
  font-weight: 500;
  font-size: 14px;
  background: #003399;
  color: #fff;
  border-radius: 0;
  height: 40px;
  border: 0;
  position: relative;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
aside .welcome-content-banner-item .banner-label .text-label .corner {
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 0 0 20px;
  border-color: transparent transparent transparent #003399;
}
aside .welcome-content-banner-item .gap-2 {
  gap: 0.5rem;
}
aside .welcome-content-banner-item .grid {
  display: grid;
}
aside .welcome-content-banner-item .image {
  height: 70px !important;
  height: 70px !important;
}
aside .welcome-content-banner-item .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
aside .welcome-content-banner-item .text .title {
  font-size: 14px;
  color: #039;
}
aside .welcome-content-banner-item .text .date {
  font-size: 10px;
}

.justify-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.w-\[30\%\] {
  width: 30%;
}

.w-\[67\%\] {
  width: 67%;
}

.substring-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.scroll-top.reveal {
  opacity: 1;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  transition: all 0.5s ease 0s;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background: rgba(242, 182, 29, 0.1);
  color: white;
  cursor: pointer;
  padding: 13px;
  box-shadow: rgba(17, 17, 26, 0.1019607843) 0 1px, rgba(17, 17, 26, 0.1019607843) 0 8px 24px, rgba(17, 17, 26, 0.1019607843) 0 16px 48px;
  cursor: hand;
  border-radius: 10px;
}
#myBtn svg {
  color: #ffb800;
}

.footer {
  background-color: #039;
  color: #fff;
}
.footer .footer-wrapper-row {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}
.footer .footer-wrapper-row-item .head h2 {
  font-size: 1.3rem;
  color: #fff;
  font-weight: 700;
}
.footer .footer-wrapper-row-item .body {
  margin-top: 1rem;
}
.footer .footer-wrapper-row-item .body .social-media {
  display: grid;
  gap: 1rem;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
.footer .footer-wrapper-row-item .body .social-media .btn {
  display: flex;
  place-items: center;
  cursor: pointer;
  padding: 0;
  font-size: 18px;
  color: #fff;
}
.footer .footer-wrapper-row-item .body .social-media .btn img {
  width: 1.3rem;
  height: 1.3rem;
  transition: 0.5s;
}
.footer .footer-wrapper-row-item .body .download {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
.footer .footer-wrapper-row-item .body .flex-col {
  flex-direction: column;
}
.footer .footer-wrapper-row-item .body .flex {
  display: flex;
}
.footer .footer-wrapper-row-item .body .download-app img {
  cursor: pointer;
  width: 150px !important;
  height: 48px !important;
}
.footer .footer-wrapper-row-item .body iframe.map {
  height: 180px !important;
}

.w-\[40\%\] {
  width: 40%;
}

.w-\[15\%\] {
  width: 15%;
}

.w-\[20\%\] {
  width: 20%;
}

.w-\[25\%\] {
  width: 25%;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #039;
  color: #fff;
  padding: 1.5rem 0;
  font-weight: 400;
  border-top: 1px solid #fff;
}

.d-flow {
  padding: 5px;
}/*# sourceMappingURL=delails.css.map */